/.idea
/node_modules
/public/assets/webfonts/
/public/images
/storage
/vendor
/public/assets/admin/app.min.css
/public/assets/admin/app.min.js
*.log
*.map
.data
.env
.env.backup
.phpunit.result.cache
.editorconfig
_ide_helper.php
