@import 'footer';
@import 'icons';
@import 'loader';
@import 'main-navbar';
@import 'navbar-info';
@import 'product';
@import 'toolbar';
@import 'typography';
@import 'vars';

html,body {
    height: 100%;
    background-color: #fff;
    color: #222;
    line-height: 125%;
}

body {
    padding-top: $header-size;
    background-color: $dark;
}

.body-scroll {
    padding-top: $header-size + $toolbar-size;
}

.content {
    padding: 1rem 2rem 1rem 2rem;
    background-color: #fff;
}

hr{
    height: 1px;
    border: 0;
    border-top: 1px solid $gray;
}

.spacer {
    margin: 1.5rem 0 1.5rem 0;
}

/*** Colours ***/
.bg-light, .btn-light {
    background-color: #eee !important;
}

.bg-dark, .btn-dark{
    background-color: #212121;
}

.btn-gray {
    background-color: $light;
    color: #fff;
}

.bright {
    color: $bright !important;
}

.bg-bright {
    background-color: $bright !important;
    color: #fff;
}

.btn-bright{
    background-color: $bright;
    letter-spacing: 1px;
    color: #fff;
}

.pagination {
    justify-content: center;
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    .active {
        .page-link {
            background-color: $dark;
            border-color: $dark;
        }
    }
    a.page-link {
        color: $dark;
    }
    a.page-link:hover {
        color: $bright;
    }
}

.icon-scroll-top {
    display: none;
    position: fixed;
    right:2rem;
    bottom:2rem;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.collapsing {
    -webkit-transition: all .3s;
    transition: all .3s;
}

.nowrap {
    white-space: nowrap !important;
}
