@import 'vars';

.navbar-icon-btn {
    padding: 10px;
    margin: 0 .75rem;
}
.navbar-info {
    position: fixed;
    top: $header-size;
    left: 0;
    right: 0;
    width: 100%;
    height: $toolbar-size;
    margin: 0;
    transition-property: all;
    transition-duration: .3s;
    background-color: #eee;

    .close {
        margin: -5px .65rem 0 0;
    }

    .navbar-info-body {
        line-height: 2.1rem;
        padding: .5rem 1rem;
        text-align: center;
        border-color: red;
    }
}
.navbar-info-scroll {
    top: $header-scroll;
    transition-property: all;
    transition-duration: .5s;
}
