@import 'vars';

.navbar-icon-btn {
    padding: 10px;
    margin: 0 .75rem;
}
.navbar-info {
    position: fixed;
    top: 120px;
    left: 0;
    right: 0;
    width: 100%;
    height: $toolbar-size;;
    margin: 0;
    z-index: 99999999;
    .navbar-info-block {
        z-index: 99999999;
        background-color: #eee;
        .close {
            margin: -5px .65rem 0 0;
        }
    }
    .navbar-info-body {
        z-index: 99999999;
        line-height: 2.1rem;
        padding: .5rem 1rem;
        text-align: center;
    }
}
.navbar-info-scroll {
    top: $header-scroll;
    transition-property: all;
    transition-duration: .5s;
}
