$thumb-size: 100px;

html,body {
    height: 100%;
    background-color: #fff;
    color: #111;
    line-height: 125%;
}

img {
    display: block;
}

// common
.hidden {
    display: none;
}
.rounded {
    border-radius: 5px;
}
.margin-line {
    margin-top: 1rem;
}

.flex-centered {
    display: flex;
    align-items: center;
}

// table
.table-align-center th, .table-align-center td {
    text-align: center;
}
.table-valign-center th, .table-valign-center td {
    vertical-align: middle;
}



.box {
    width: 50%;
    margin: auto;
}

.modal {
    padding-left: 12rem;
}

.opacity-30 {
    opacity: 0.3;
}

// buefy upload fix
.upload-draggable {
    width: 100%;
}

