$thumb-size: 100px;

html,body {
    height: 100%;
    background-color: #fff;
    color: #111;
    line-height: 125%;
}

img {
    display: block;
}

.hidden {
    display: none;
}
.rounded {
    border-radius: 5px;
}

.flex-centered {
    display: flex;
    align-items: center;
}

.table-vertical-center td {
    vertical-align: middle;
}
.nowrap {
    white-space: nowrap;
}

.box {
    width: 50%;
    margin: auto;
}

.modal {
    padding-left: 12rem;
}

.opacity-30 {
    opacity: 0.3;
}

// buefy upload fix
.upload-draggable {
    width: 100%;
}

